.footer__columns { /* задаём свойства основному блоку подвала */
  display: flex; /* преобразуем в флексбокс */
  margin: 0 auto; /* обнуляем наружные отступы вверху и внизу, располагаем по центру горизонтали */
  width: 90%; /* задали ширину блока относительно окна браузера */
  justify-content: space-between; /* выровняли элементы в блоке, крайние элементы прижали к краям */
}
