.footer__column { /* задаём общие свойства для блоков в основной части подвала */
  display: flex; /* преобразуем во флексбоксы */
  flex-direction: column; /* выстраиваем элементы внутри в вертикальный ряд */
  margin: 0; /* обнуляем наружные отступы */ 
}
