.two-columns__paragraph { /* задаём свойства абзацам в первой секции */
  margin: 0; /* убираем у элементов внешние отступы */
  padding: 0 0 30px; /* устанавливаем внутренние отступы между абзацами-элементами */
  line-height: 34px; /* устанавливаем высоту строки */
  font-size: 24px;
  font-weight: normal; /*размер и начертание шрифта */
}

.two-columns__paragraph:last-of-type { /* исключаем последний абзац из правила по нижним отступам в 30px */
  padding-bottom: 0;
}
