.section-subtitle { /* задаём свойства подзаголовку */
  width: 60%; /* ограничиваем ширину элемента */
  margin: 0;
  text-align: center; /* устанавливаем текст по центру заголовка */
  line-height: 34px; /* устанавливаем высоту строки */
  font-size: 24px;
  font-weight: normal; /*размер и начертание шрифта */;
}
