.kaufman {
  display: flex;
  flex-direction: column; /* выстраиваем блоки в вертикальный ряд */
  margin: 0 auto; /* обнуляем верхний и нижний наружные отступы, устанавливаем в центре по горизонтали */
  padding: 90px 0; /* устанавливаем внутренние верхний отступ для отделения от  другой секции */
  align-items: center; /* выравниваем элементы по центральной оси блока */
  position: relative;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  background-color: #1f1f1f;
  color: #fff;
}
