.place__title {
  margin: 0;
  width: 46.8%;
  padding-bottom: 48px;
}

@media screen and (max-width: 1024px) {
  .place__title {
    width: 47.3%;
  }
}

@media screen and (max-width: 510px) {
  .place__title {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 32px;  
  }
}
  