.khan__quote { /* задаём свойства для элемента с текстом в основной части секции */
  max-width: 790px; /* установили ширину элемента, Исправил: дабавил max */
  line-height: 34px; /* устанавливаем высоту строки */
  font-size: 24px;
  font-weight: normal; /*размер и начертание шрифта */
  margin: 50px 0 36px; /* отделили наружными отступами от заговка сверху и подзаголовка снизу */
}
