.place_website {
    display: flex;
    flex-direction: column;
    /*border: 1px solid red;*/
    /*background-color: white;*/
    width: 48%;
    justify-content: end;
    padding-bottom: 48px;
    padding-left: 4%;
}

@media screen and (max-width: 1024px) {
    .place_website {
        
        width: 48.75%;
        padding-left: 3.25%;
    }
  }

  @media screen and (max-width: 768px) {
    .place_website {
        
        width: 48.35%;
        padding-left: 3.65%;
    }
  } 


  @media screen and (max-width: 320px) {
    .place_website {
      width: 90%;
      padding-left: 5%;
      padding-right: 5%;
      
    }
  }
  
  @media screen and (max-width: 320px) {
    .place_website {
        
        
        padding-bottom: 32px;
    }
  }