.khan__buy-link { /* задаём дополнительные свойства для ссылки */
  line-height: 42px; /* устанавливаем высоту строки */
  font-size: 30px;
  font-weight: normal; /*размер и начертание шрифта */
  color: #2f80ed; /* задаём синий цвет */
  text-decoration: none; /* отменяем подчёркивание ссылки */
}

.khan__buy-link:hover { /* задаём поведение ссылки при наведении курсора */
  opacity: .5; /* степень прозрачности */
  transition: 1s; /* время. за которое она меняется до нужного уровня */
}
