.two-columns { /* задаём свойства основному блоку первой секции */
  display: flex; /* преобразуем в флексбокс */
  justify-content: space-between; /* распределяем элементы по оси, они прижаты к краям */
  width: 80%; /* ограничиваем ширину блока */
  margin: 0;
}
