.resources {
  display: flex; /* преобразуем секцию в флексбокс */
  flex-direction: column; /* выстраиваем блоки в вертикальный ряд */
  width: 100%;
  margin: 0; /* обнуляем верхний и нижний наружные отступы, устанавливаем в центре по горизонтали */
  padding: 100px 0 217px; /* устанавливаем внутренний верхний и нижний отступ для отделения от  другой секции */
  align-items: center; /* выравниваем элементы по центральной оси блока */
}
