.footer__column-link { /* задаём свойства для ссылок во втором и третьем блоках */
  display: flex; /* Исправил: преобразовал во флексбокс, чтобы разместить иконки и ссылки как нужно */
  margin: 0 0 10px; /* установили наружный нижний отступ */
  color: white; /* Исправил: задаём белый цвет цвет */
  text-decoration: none; /* отменяем подчёркивание ссылки */ 
  align-items: center;
}

.footer__column-link:last-of-type {
  margin: 0; /* отменили отступ у последней ссылки */
}

.footer__column-link:hover { /* задаём поведение ссылки при наведении курсора */
  opacity: .5; /* степень прозрачности */
  transition: 1s; /* время. за которое она меняется до нужного уровня */
}

/* Исправил: напрямую задал свойства для ссылок без использования header */