.header__subtitle { /* селектор со свойствами текстового элемента шапки */
  position: absolute; /* задаём элементу абсолютное позиционирование */
  left: 64px;
  bottom: 30px; /* отодвигаем элемент от левого и нижнего краёв блока */
  max-width: 388px; /* задаём ширину элемента */
  margin:0;
  z-index: 10; /* задаём условие, что блок будет поверх других блоков */
  line-height: 25px; /* задали высоту строки */
  font-size: 18px;
  font-weight: normal; /* размер и начертание шрифта */
}
