.logo_place_header { /* селектор с особыми свойствами элемента с логотипом Я-П в шапке */
  position: absolute; /* задаём элементу абсолютное позиционирование */
  left: 64px;
  top: 32px; /* отодвигаем элемент от левого и верхнего краёв блока */
  z-index: 10; /* задаём условие, что блок будет поверх других блоков */
  background: url('../../../images/logo_place_header.svg'); /* вставляем сам логотип-картинку */
}
