.intro__list {
    width: 100%;
    height: 90px;
    margin: 0 auto;
    /*text-align: center;*/
    line-height: 18px; /* задали высоту строки */
    font-size: 12px;
    font-weight: normal;  
    border: 1px solid red;   
}