.footer__column-links { /* задаём свойства для блоков, содержащих ссылки, во втором и третьем блоках основного содержимого */
  display: flex; /* преобразуем во флексбокс */
  flex-direction: column; /* выстраиваем 'элементы-ссылки в вертикальный ряд */
  margin: 0; 
  padding: 20px 0 16px; /* обнуляем наружные отступы и устанавливаем внутренние */
  line-height: 18px; /* задали высоту строки */
  font-size: 18px;
  font-weight: normal; /* размер и начертание шрифта */
}
