.description { /* устанавливаем свойства для первой секции */
  display: flex; /* преобразуем секцию во флексблок */
  justify-content: center; /* выравниваем содержимое секции по горизонтали */
  margin: 0;
  padding-top: 100px; /* убираем внешние отступы и устанавливаем внутренний верхний для отделения от шапки */
}
