.feynman__title { /* задаём свойста для заголовка секции */
  max-width: 648px; /* установили ширину элемента */
  margin: 0;
  z-index: 5; /* задаём условие, что блок будет поверх изображения */
  text-align: center; /* исправил, расположил текст по центру */
  line-height: 1.15; /* задали высоту строки */
  font-size: 120px;
  font-weight: 600; /* размер и начертание шрифта*/
}
