.header { /* устанавливаем базовые свойства для шапки */
  display: flex; /* преобразуем шапку в флексбокс */
  margin: 0 auto; /* обнуляем отступы вверху и внизу, центрируем содержимое по горизонтали */
  position: relative;/* задаём для шапки относительное позиционирование, чтобы воздействовать на элементы с абсолютным */
  height: 100vh;
  min-height: 600px;
  max-height: 756px; /* ограничили минимальную и максимальную высоту блока, установили равной области просмотра */
  background-color: #f2f2f2; /* задали серый цвет фона блока */
  align-items: center; /* выравниваем элементы, имеющие позиционирование по умолчанию, по центральной оси блока */
  overflow: hidden; /* ограничили движение синего квадрата настоящим блоком */
  box-sizing: border-box; /* меняем фокус элемента, чтобы внутренние отступы не увеличивали размер блока */
}
