.cover__center {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  z-index: 5;
  position: absolute;
  top: 33.33%;
  left: 26%;
  right: 26%;
}

@media screen and (max-width: 1024px) {
  .cover__center {
    top: 30.5%;
    left: 22.65%;
    right: 22.65%;
  }
}

@media screen and (max-width: 990px) {
  .cover__center {
    top: 24%;
    left: 13.54%;
    right: 13.54%;
  }
}

@media screen and (max-width: 727px) {
  .cover__center {
    top: 16.5%;
    left: 5.55%;
    right: 5.55%;
  }
}
