.cards__item { /* задаём общие свойства для каждой карточки блока */
  width: 240px; /* установили ширину карточки */
  margin: 0 100px 0 0; /* установили карточке правый наружный отступ */
}

.cards__item:nth-of-type(3n) { /* у каждой третьей карточки, конечной на уровне, отменяем наружный правый отступ */
  margin-right: 0;
}
