.text-formatting_subtitle_max {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
}

@media screen and (max-width: 727px) {
    .text-formatting_subtitle_max {
      font-size: 32px;
      line-height: 109%;
    }
}
