.feynman { /* задаём свойства для пятой секции основного содержимого страницы */
  display: flex; /* преобразуем секцию в флексбокс */
  flex-direction: column; /* выстраиваем элементы в вертикальный ряд */
  margin: 0 auto; /* обнуляем отступы вверху и внизу, центрируем содержимое секции по горизонтали */
  position: relative;/* задаём для секции относительное позиционирование, чтобы воздействовать на элементы с абсолютным */
  min-height: 890px; /* задаём высоту секции*/
  width: 100%; /* ограничиваем секцию по ширине */
  background-color: #f2f2f2; /* задали серый цвет фона секции */
  align-items: center; /* выравниваем элементы, имеющие позиционирование по умолчанию, по центральной оси блока */
  padding-top: 100px; /* устанавливаем внутренний отступ сверху*/
  box-sizing: border-box; /* смещаем фокус блока внутрь, внутренний отступ не увеличит размер секции */
}
