.header__link { /* селектор с базовыми свойствами ссылки в текстовом элементе шапки */
  color: #2f80ed; /* задаём синий цвет */
  text-decoration: none; /* отменяем подчёркивание ссылки */
}

.header__link:hover { /* задаём поведение ссылки при наведении курсора */
  opacity: .5; /* степень прозрачности */
  transition: 1s; /* время. за которое она меняется до нужного уровня */
}
