.resources__logo-zone { /* задаём свойства для блока с четырьмя ссылками */
  display: flex; /* преобразуем в флексбокс */
  width: 1100px;
  margin: 0 auto; /* задаём ширину, обнуляем наружные отступы и центрируем */
  padding: 80px 0 0; /* делаем отступ от подзаголовка */
  justify-content: space-evenly; /* распределяем элементы равномерно по оси блока */
}
