.khan__book-container { /* задаём свойства для блока с описанием книги */
  display: flex; /* преобразуем во флексбокс */
  width: 80%; /* ограничиваем ширин блока */
  margin: 0 auto; /* обнуляем верхний и нижний наружные отступы, устанавливаем в центре по горизонтали */
}
