.techniques { /* задаём свойства для второй секции основного содержимого страницы */
  display: flex; /* преобразуем блок в флексбокс */
  flex-direction: column; /* выстраиваем элементы секции в вертикальный ряд */
  width: 80%; /*ограничиваем ширину секции */
  margin: 0 auto;
  padding-top: 100px; /* убираем внешние отступы и устанавливаем внутренний верхний для отделения от первой секции */
  align-items: center; /* выравниваем элементы по центральной оси блока */
}
