.table__text { /* задаём свойства абзацам ячейки */
  line-height: 1.2; /* устанавливаем высоту строки */
  font-size: 18px;
  font-weight: normal; /*размер и начертание шрифта */
  margin: 20px 0 0; /* задаём верхний внешний отступ для отделения абзацев от заголовков и других абзацев */
}
/* Исправил: убрал нижний наружный отступ */