.khan__book-pic { /* задаём свойства для элемента с изображением книги */
  width: 620px;
  height: 608px; /* устанавливаем размеры */
  margin-right: 48px; /* задаём наружный правый отступ от ссылки */
  object-fit: cover;
  object-position: top left; /* исправил: элемент масштабируется с сохранением пропорций, "выстраивается" начиная с верхнего и левого краёв */
}
