.footer__link {
    color: white;
    text-decoration: none;
    /*margin: 0;*/
   padding-right: 15px;
    line-height: 18px; /* задали высоту строки */
  font-size: 16px;
  font-weight: normal;

    border: 1px solid red;  
}