.feynman__img { /* задаём свойство изображения */
  position: absolute; /* задаём абсолютное позиционирование */
  bottom: 0;
  left: 0; /* прижимаем элемент к нижнему левому краю блока */
  height: 637px; /* задали высоту элемента, но т.к. имеет значение флекс, по умолчанию содержимое и сам блок уравнены */
  width: 867px auto; /* задали ширину элемента и сравняли его по ширине с содержимым */
}
