.oakley { /* задаём свойства для четвёртой секции основого содержимого страницы */
  display: flex;
  justify-content: center; /* выравниваем содержимое блока по горизонтали */
  margin: 0;
  padding-top: 160px; /* убираем внешние отступы и устанавливаем внутренний верхний для отделения от секции видео */
  background-color: #f2f2f2; /* задали серый цвет фона секции */
}
