.lead__image {
    background-image: url('../../../images/lead-polka.jpg'); 
    width: 984px;
    height: 615px;
    /*object-fit: cover;
  object-position: top left;*/
  background-position: center center;
  background-size: cover;
  /*border: 1px solid red;*/
}

@media screen and (max-width: 984px) {
  .lead__image {
  width: 100%;
  /*height: 50%;*/
    /*background-size: 100% auto;
   /*height: 100%;
   min-height: 406px;*/
   
  }
}

/*@media screen and (max-width: 768px) {
  .lead__image {
    background-size: 100% auto;
    /*width: 100%;
   height: 100%;
   min-height: 406px;
   /*object-fit: contain;*/
 /* }
}*/



@media screen and (max-width: 768px) {
  .lead__image {
  
  
  
   height: 480px;
   /*object-fit: cover;
   object-position: top left;*/
   /*object-fit: contain;*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat ;*/
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
  
  
  
   height: 200px;
   /*object-fit: cover;*/
  }
}