.video__iframes { /* устанавливаем свойтва для блока с видеосодержимым */
  display: flex; /* преобразуем блок в флексбокс */
  flex-direction: row;
  margin: 0;
  padding: 50px 0 0; /* Добавил: устраняем внешние отступы; задаём внутренний верхний */
  list-style-type: none; /* убираем маркёры в списке */
}
