.section-title { /* задаём свойства заголовку секции */
  width: 60%; /* ограничиваем ширину элемента */
  margin: 0 0 20px; /* устанавливаем наружный отступ от нижеследующего подзаголовка */
  text-align: center; /* устанавливаем текст по центру заголовка */
  line-height: 1.15; /* устанавливаем высоту строки */
  font-size: 60px;
  font-weight: 600; /*размер и начертание шрифта */;
}
