.intro {
  display: flex;
  margin: 0; 
  flex-direction: column;
  max-width: 690px;
  width: 100%;
  /*box-sizing: border-box;*/
/*padding: 0;*/
  /*border: 1px solid orange;*/
}

@media screen and (max-width: 768px) {
  .intro  {
    max-width: 768px;
    box-sizing: border-box;
  }
}
