.header__main-illustration { /* селектор со свойсвами элемента с картинкой */
  position: absolute; /* задаём элементу абсолютное позиционирование */
  bottom: 0;
  right: 0; /* прижимаем элемент к нижнему правому краю блока */
  height: 608px; /* задали высоту элемента, но т.к. имеет значение флекс, по умолчанию содержимое и сам блок уравнены */
  width: 765px auto; /* задали ширину элемента и сравняли его по ширине с содержимым */
  z-index: 1; /* задаём условие, что картинка должна быть перед элементом с синим квадратом, но за ткстовыми элементами */
}
