.content { /* задаём базовые свойства для основного содержимого сттраницы */
  display: flex; /* преобразуем в флексбокс */
  flex-direction: column; /* выстраиваем секции в вертикальный ряд */
  margin: 0;
}
