.two-columns__brief { /* задаём свойства основного заговка первой секции */
  max-width: 175px; /* Исправил: добавил max; задаём ширину элемента*/
  margin: 0; /* убираем внешние отступы у элемента*/
  line-height: 1.2; /* устанавливаем высоту строки */
  font-size: 18px;
  font-weight: normal;
  color:#2f80ed; /*размер, начертание и цвет шрифта */
}
