@keyframes rotatic { /* задаём вращение фигур */
  0% {
      transform:rotate(0deg);
  }
  100% {
      transform:rotate(360deg);
  }
}

.rotation { /* задаём условия анимации */
  animation-name: rotatic; /* указываем какую анимацию выполнить */
  animation-duration: 20s; /* длительность одного цикла*/
  animation-iteration-count: infinite; /* количество циклов */
  animation-timing-function: linear; /* задаём равномерное движение */
}
