.video { /* задаём свойства для третьей секции основного содержимого сайта */
  display: flex; /* преобразуем секцию в флексбокс */
  flex-direction: column; /* выстраиваем 'элементы в вертикальный ряд */
  width: 100%; /* задаём ширину */
  margin: 0 auto; /* обнуляем отступы вверху и внизу, центрируем содержимое по горизонтали */
  padding-top: 100px; /* устанавливаем внутренний верхний край для отделения от второй секции */
  align-items: center; /* выравниваем элементы по центральной оси блока */
}
