.cover__title_formatting_text {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
}

@media screen and (max-width: 727px) {
  .cover__title_formatting_text {
    font-size: 56px;
  }
}

@media screen and (max-width: 495px) {
  .cover__title_formatting_text {
    font-size: 42px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title_formatting_text {
    font-size: 32px;
    line-height: 109%;
  }
}
