.khan__author { /* задаём свойства для заголовка основного содержимого секции */
  margin: 0; /* обнуляем наружные отступы */
  line-height: 42px; /* устанавливаем высоту строки */
  font-size: 30px;
  font-weight: normal; /*размер и начертание шрифта */
}
