.cards { /* задаём свойства для блока с пятью карточками */
  display: flex; /* преобразуем блок в флексбокс */
  width: 930px; /* задаём ширину блока */
  justify-content: flex-start; /* прижимаем горизонтальную цепочку карточек к левому краю блока */
  flex-wrap: wrap; /* заворачиваем на следующий уровень те карточки, которые не помещаются на начальном */
  margin: 0; /* убираем наружные отступы */
  list-style-type:none; /* убираем маркёры в списке */
  padding: 0;
}
