.khan__title { /* задаём свойства для заголовка в основном содержимом секции */
  margin: 0; /* убираем внешние отступы */
  line-height: 1.15; /* устанавливаем высоту строки */
  font-size: 60px;
  font-weight: 600; /*размер и начертание шрифта */
 }
