.feynman__link { /* задаём дополнительные свойства ссылке */
  position: absolute; /* устанавливаем абсолютное позиционирование */
  top: 50%;
  right: 48px; /* задаём высоту расположения элемента в половину от высоты секции и отодвигаем от правого края */
  line-height: 51px; /* задали высоту строки */
  font-size: 36px;
  font-weight: normal; /* размер и начертание шрифта */
  z-index: 5; /* задаём, что подзаголовок будет поверх изображения */
  color: #2f80ed; /* задаём синий цвет */
  text-decoration: none; /* отменяем подчёркивание ссылки */
}

.feynman__link:hover { /* задаём поведение ссылки при наведении курсора */
  opacity: .5; /* степень прозрачности */
  transition: 1s; /* время. за которое она меняется до нужного уровня */
}