.lead__caption {
   width: 158px;
    /*height: 14px;*/
    margin: 0;
    text-align: left;
    padding-top: 8px;
    line-height: 14px;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    
    /*border: 1px solid red;*/
}