.digits { /* задаём свойства для шестой секции основы сайта */
  display: flex; /* преобразуем секцию в флексбокс */
  flex-direction: column; /* выстраиваем блоки в вертикальный ряд */
  width: 100%; /*ограничиваем ширину секции */
  margin: 0; /* обнуляем наружные отступы */
  padding: 100px 0 ; /* устанавливаем внутренние верхний и нижний отступы для отделения от  пятой и седьмой секций */
  align-items: center; /* выравниваем элементы по центральной оси блока */
}
