.page__section {
  max-width: 1280px;  
  margin: 0 auto;
  box-sizing: border-box;
  padding-right: 48px;
  padding-left: 48px; 
  
}

@media screen and (max-width: 1024px) {
  .page__section {
    padding: 0;
  }
}

/*@media screen and (max-width: 768px) {
  .page__section {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .page__section {
    padding-right: 0;
    padding-left: 0;
  }
}
*/