.header__square-pic { /* селектор с базовыми свойствами элемента с синим квадратом */
  position: absolute; /* задаём элементу абсолютное позиционирование */
  top: 64px;
  right: 0; /* отодвигаем элемент от верхнего края и прижимаем к правому краю блока */
  width: 568px;
  height: 568px; /* задаём размеры элемента */
  background-color: #2f80ed; /* задаём цвет фона элемента */
}
