.video__iframe { /* устанавливаем свойства для каждого видеоэлемента */
  width: 515px;
  height: 316px; /* задаём ширину и высоту */
  margin: 0 20px -60px 0; /* устанавливаем наружные отступы и смещаем нижние края видеоблока на следующую секцию */
  z-index: 2; /* устанавливаем, что видеэлементы будут над фоном следующей секции */
   border: 0;
}

  .video__iframe:last-of-type { /* отменяем для последнего элемента правый наружный отступ */
    margin-right: 0;
  }
