.footer {
  display: flex;
  margin: 0 auto;
  width: 100%;
  
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    
  }
}
