.cards__description { /* задаём свойства для текста карточки */
  margin: 0; /* убираем наружные отступы */
  text-align: center; /* устанавливаем текст по центру заголовка */
  line-height: 23px; /* устанавливаем высоту строки */
  font-size: 18px;
  font-weight: normal; /*размер и начертание шрифта */;
}
