.feynman__subtitle { /* задаём свойства подзаголовку */
  margin: 70px 0 0; /* форминуем верхний наружный отступ от заголовка */
  line-height: 51px; /* задали высоту строки */
  font-size: 36px;
  font-weight: normal; /* размер и начертание шрифта */
  z-index: 5; /* задаём, что подзаголовок будет поверх изображения */
  }
