.khan__quote-author-subline { /* задаём свойства для дополнительного текста под ФИО автора */
  line-height: 1.15; /* устанавливаем высоту строки */
  font-size: 24px;
  font-weight: normal; /*размер и начертание шрифта */
  margin: 10px 0 68px; /*задаём наружные отступы для отделения от других элементов и блоков */
}
