.khan { /* задаём свойства для седьмой секции */
  display: flex; /* преобразуем секцию в флексбокс */
  flex-direction: column; /* выстраиваем блоки в вертикальный ряд */
  width: 100%; /* ограничиваем ширину секции */
  margin: 0 /*auto*/; /* обнуляем верхний и нижний наружные отступы, устанавливаем в центре по горизонтали */
  padding: 100px 0 0; /* устанавливаем внутренний верхний и нижний отступ для отделения от  другой секции */
  align-items: center; /* выравниваем элементы по центральной оси блока */
  background-color: #f2f2f2; /* Исправил: задал серый цвет фона секции */
}
