.footer__social-icon { /* задаём свойства для картинок соц.сетей */
  background-size: 16px 16px; /* задаём размер элемента */
  margin: 0; /* Исправил: отменяем все наружные отступы */
}

  .footer__column-link:last-of-type { /* отменяем наружный отступ у последней картинки */
    margin: 0;
}
