.footer__column-heading { /* задаём свойства для заголовка во втором блоке подвала */
  margin: 0; /* обнуляем наружные отступы */
  line-height: 18px; /* задали высоту строки */
  font-size: 18px;
  font-weight: 600; /* размер и начертание шрифта */
}
