.kaufman__triangle { /* задаём свойства для элемента с синим треугольником */
  background-image: url('../../../images/kaufman-triangle.svg'); /* задаём фоновой изображение треугольника */
  position: absolute; /* задаём абсолютное позиционирование */
  height: 877px;
  width: 877px; /* задаём размеры элемента */
  background-size: contain; /* умещаем треугольник, учитывая размеры блока */
  right: -210px; /* смещаем элемент к правому краю блока и за его пределы */
}
