.header__lang-links {
    display: flex;
    margin: 0; 
    border: 1px solid red;
   
}
    /*padding: 20px 0 16px; /* обнуляем наружные отступы и устанавливаем внутренние */
    /*line-height: 18px; /* задали высоту строки */
    /*font-size: 18px;
    font-weight: normal;  
}