.place__website {
  display: flex;
  flex-direction: column;
  width: 49.15%;
  justify-content: flex-end;
  /*align-items: flex-end;*/
  padding-bottom: 48px;
  padding-left: 4.05%;
}

@media screen and (max-width: 1024px) {
  .place__website {
    /*width: 48.75%;*/
    padding-left: 3.45%;
    }
  }

@media screen and (max-width: 768px) {
  .place__website {
    width: 48.85%;
    padding-left: 3.85%;
  }
} 


@media screen and (max-width: 320px) {
  .place__website {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 32px;
  }
}
