.header_formatting_padding {
  padding-top: 28px;
  padding-bottom: 56px;
}

@media screen and (max-width: 1024px) {
  .header_formatting_padding {
    padding-bottom: 48px;
  }
}
 
@media screen and (max-width: 320px) {
  .header_formatting_padding {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    }
  }
  