.footer { /*задаём свойства для подвала */
  display: flex; /* преобразуем блок в флексбокс */
  margin: 0; /* обнуляем наружные отступы */
  width: 100%; /* ограничили ширину подвала */
  min-height: 350px; /* Исправил: перенёс из первого блока; установили минимальную высоту */
  padding: 60px 0 40px; /* задаём верхний и нижний внутренние отступы для отделения от осноного блока сайта */
  box-sizing: border-box; /* сместили фокус блока вовнутрь, отступы не будут занимать дополнительное пространство */
  background-color: #1f1f1f; /* задаём цвет фона */
  color: white; /* задаём цвет текста */
}
