.content__item-padmax {
  /*box-sizing: border-box;*/
  padding-right: 100px; 
  padding-left: 100px;
  padding-bottom: 92px; 
}

@media screen and (max-width: 1024px) {
  .content__item-padmax  {
    /*box-sizing: border-box;*/
    padding-right: 48px;
    padding-left: 48px;  
  }
}

@media screen and (max-width: 768px) {
  .content__item-padmax  {
    padding-right: 24px;
    padding-left: 24px; 
    padding-bottom: 88px;  
  }
}

@media screen and (max-width: 320px) {
  .content__item-padmax  {
    padding-bottom: 64px; 
    padding-right: 16px;
    padding-left: 16px; 
  }
  .content__item-padmax:nth-child(4) {
    padding-right: 0; 
    padding-left: 0;
  }
}
