.table__heading { /* задаём свойства заголовка ячейки */
  line-height: 1.15; /* устанавливаем высоту строки */
  font-size: 24px;
  font-weight: 600; /*размер и начертание шрифта */;
  margin: 0; /* обнуляем наружные отступы */
}
