.cards__title { /*  задаём свойства для заголовка карточки */
  text-align: center; /* устанавливаем текст по центру заголовка */
  line-height: 1.15; /* устанавливаем высоту строки */
  font-size: 24px;
  font-weight: 600; /*размер и начертание шрифта */;
  margin: 0 0 16px; /* задаём нижний отступ от текста */
}
