.footer__author { /* свойства для блока с авторским правом */
  /*position: absolute; Исправил: убрал позиционирование и задал внутренние отступы*/
  margin: 18px 0 ;
  padding: 0; /* ограничиваем отступы */
  line-height: 25px; /* задали высоту строки */
  font-size: 18px;
  font-weight: normal; /* размер и начертание шрифта */
  width: fit-content; /* задаём ширину элемента равную ширине содержимого */
  }
