.header__title { /* селектор со свойсвами элемента-заголовка первого уровня шапки */
  max-width: 730px; /* установили ширину элемента */
  margin: 0 0 0 64px; /* сместили элемент от левого края вправо */
  z-index: 10; /* задаём условие, что блок будет поверх других блоков */
  line-height: 96px; /* задали высоту строки */
  font-size: 102px;
  font-weight: 600; /* размер и начертание шрифта*/
}
