.khan__quote-author { /* задаём свойства подзаголовку более низкого уровня с ФИО автора */
  line-height: 1.15; /* устанавливаем высоту строки */
  font-size: 24px;
  font-weight: 600; /*размер и начертание шрифта */
  margin: 0; /* отменили наружные отступы */
}
